/* .aramamotoru {
    border: 1px solid rgb(238, 238, 238);
    background-color: rgb(238, 238, 238);
    text-align: center;
} */

/* .kutu {
    border: 1px solid rgb(32, 248, 219);
    background-color: rgb(32, 248, 219);
    text-align: center;
    float: left;
    margin: 2px;
} */

#arkaplan {
    background-color: rgb(235, 233, 233);
}
table {
    text-align: center;
}

#ikincisatir {
    background-color: rgb(58, 212, 218);

}